# tools
required = [
  "github.com/jstemmer/go-junit-report",
]

[prune]
  go-tests = true
  non-go = true
  unused-packages = true

[[constraint]]
  name = "github.com/percona/pmm"
  branch = "SAAS-377-disable-checks-by-name"
